%h1 Pledge Money

= form_tag pledge_path do

  = label :emergency_id, 'ID'
  = text_field :emergency_id, :value => @emergency.id, :readonly => true

  = label :emergency, :emergency_type, 'Type'
  = text_field :emergency, :emergency_type, :value => @emergency.emergency_type, :readonly => true

  = label :amount_donated, 'Enter Amount (PKR)'
  = number_field :amount_donated

  = hidden_field :user_id, :value => @user.id

  = submit_tag 'Submit Pledge'